@model IPagedList<Title>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h2>Başlıklar</h2>
    <br />
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Kategori</th>
                <th>Başlık</th>
                <th>Oluşturan Yazar</th>
                <th></th>
                <th></th>

            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Category.CategoryName</td>
                <td>@item.TitleName</td>
                <td>@item.AppUser.Name @item.AppUser.Surname #@item.AppUserID</td>
                <td><a href="/Comment/CommentsByTitle/@item.TitleID" class="btn btn-outline-secondary">Yorumları Görüntüle</a></td>
                <td><a href="/Title/DeleteTitle/@item.TitleID" class="btn btn-outline-warning">Sil</a></td>
            </tr>
        }
    </table>
    @Html.PagedListPager((IPagedList)Model,page=>Url.Action("Index",new {page}))
    <br />
    <a href="/Title/AddTitle/" class="btn btn-outline-primary">Yeni Başlık Girişi</a>
</div>